@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  margin-bottom: 100px;
  border-bottom-left-radius: 25px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-top: 1px;
  margin-bottom: 50px;
}

.nav-links a {
  width: 63px;
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #344563;
  margin-left: 40px;
  text-decoration: none;
}

.logo {
  font-size: 18px;
  margin-left: 140px;
  margin-top: 10px;
  align-self: flex-start;
}

.logo a {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  align-items: center;
  color: #6070ff;
  text-decoration: none;
}

/* NAVBAR MENU */
.menu {
  gap: 2em;
  font-size: 18px;
}

ul {
  list-style: none;
}

.nav-links {
  display: flex;
  margin-right: 180px;
  margin-top: 10px;
}

.menu li {
  width: 100px;
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  display: inline-flex;
}

.languages-list li {
  padding: 4px 12px;
  min-width: fit-content;
  height: 20px;
  background: #ebebff;
  border-radius: 8px;
  display: inline-flex;
}

.social-media-icons ul li {
  margin: 4px;
  padding-top: 1px;
  display: inline-flex;
}

.menu-togle {
  display: none;
}

.headline {
  background-image: url("../images/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  background-position-x: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 80px;
}

.headline h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #091e42;
  padding-top: 180px;
  margin-left: 16%;
}

.introduction {
  padding-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 16%;
}

.social-media {
  width: 129px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 16%;
  padding-top: 10px;
  display: inline-flex;
}

.social-media-icons {
  padding-top: 10px;
  margin-left: 16%;
}

.card-section {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto;
  margin-top: 170px;
  justify-self: center;
  background-color: #e5e5e5;
}

.card-section > div {
  padding: 1rem;
  margin-left: 140px;
  margin-right: 200px;
  margin-top: 70px;
  min-width: min-content;
  max-height: min-content;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #fff;
}

.card-tonic {
  box-sizing: border-box;
  background: #fff;
  border-radius: 24px;
  display: flex;
  justify-content: flex-start;
}

.card-tonic img {
  width: 344px;
  height: 248px;
  top: 24px;
  border-radius: 8px;
  margin-right: 10px;
  align-self: flex-start;
}

.card-mult-post {
  box-sizing: border-box;
  background: #fff;
  border-radius: 24px;
  display: flex;
  justify-content: flex-end;
}

.card-mult-post :nth-child(1) { order: 3; }
.card-mult-post :nth-child(2) { order: 2; }

.card-mult-post img {
  width: 344px;
  height: 248px;
  top: 24px;
  border-radius: 8px;
}

.card-detail-two {
  margin-right: 20px;
}

.card-detail-two h2 {
  margin-top: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-bottom: 1%;
  margin-left: 10px;
}

.card-detail {
  display: flex;
  flex-direction: column;
}

.card-detail h2 {
  margin-top: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-bottom: 1%;
  margin-left: 10px;
}

.card-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-bottom: 1%;
  margin-left: 10px;
}

.card-message {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 10px;
}

.button {
  width: 120px;
  height: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: #396df2;
  background: white;
  border-radius: 5px;
  display: inline-block;
  color: #396df2;
  margin-top: 10px;
  margin-left: 10px;
}

.languages-list {
  right: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: block;
  align-items: center;
  color: #253858;
  margin-top: 10px;
  margin-left: 10px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .main-content {
    position: fixed;
    overflow-y: scroll;
    max-height: 100%;
    max-width: 100%;
  }

  /* LOGO */
  .logo {
    font-size: 18px;
    margin-left: 10px;
  }

  .menu {
    display: none;
  }

  .menu-togle {
    display: block;
    position: relative;
  }
}
