@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-top: 1px;
  margin-bottom: 50px;
}

.nav-links a {
  width: 63px;
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #344563;
  margin-left: 40px;
  text-decoration: none;
}

/* LOGO */
.logo {
  font-size: 18px;
  margin-left: 140px;
  margin-top: 10px;
}

.logo a {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  align-items: center;
  color: #6070ff;
  text-decoration: none;
}

/* NAVBAR MENU */
.menu {
  gap: 2em;
  font-size: 18px;
}

ul {
  list-style: none;
}

.nav-links {
  display: flex;
  margin-right: 180px;
  margin-top: 10px;
}

.menu li {
  width: 100px;
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  display: inline-flex;
}

.social-media-icons ul li {
  margin: 4px;
  padding-top: 1px;
  display: inline-flex;
}

input[type=checkbox] {
  display: none;
}

.checkbox-toggle {
  display: none;
  font-size: 24px;
  user-select: none;
}

.headline {
  background-image: url("../images/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 247px;
  background-position-x: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.headline h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #091e42;
  padding-top: 180px;
  margin-left: 16%;
}

.introduction {
  padding-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 16%;
}

.social-media {
  width: 129px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 16%;
  padding-top: 10px;
  display: inline-flex;
}

.social-media-icons {
  padding-top: 10px;
  margin-left: 16%;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
  }

  /* LOGO */
  .logo {
    font-size: 18px;
    margin-left: 10px;
  }

  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .checkbox-toggle {
    display: block;
    bottom: 70.83%;
    margin-left: 950.67%;
    margin-right: 1%;
  }
}
