@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* { font-family: Poppins, sans-serif; }

.container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit);
  

}

.container > div  {
  padding: 2rem;
  max-height: 680px;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: dodgerblue;
  color: white;

}


.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  max-width: 375px;
}

.logo a {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #6070ff;
  margin-left: 40px;
  text-decoration: none;
}

.menu-icon {
  margin-left: 16.67%;
  margin-right: 10.67%;
  bottom: 70.83%;
}

.headline {
  background-image: url("../images/header-shapes mobile.svg");
  background-repeat: no-repeat;
  width: 13993.4px;
  height: 721.46px;
  padding-top: 90px;
  margin-left: 10px;
}

.introduction {
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-top: 50px;
  margin-left: 22px;
  padding-bottom: 70px;
}

.profession {
  width: 327px;
  height: 146px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-top: 10px;
  margin-left: 22px;
  padding-bottom: 12px;
}

.profession p {
  padding-right: 5px;
}

.social-media {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-top: 10px;
  margin-left: 22px;
}

.social-media-icons {
  display: inline-flex;
  padding-top: 10px;
  margin-left: 22px;
}

ul {
  list-style: none;
  display: inline-flex;
  padding-left: 1px;
  margin-top: 1px;
}

.social-media-icons ul li {
  margin: 4px;
  padding-top: 1px;
}

.work {
 
  padding: 10px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding-bottom: 1px;
  margin: 10px;
  margin-top: 70px;
  width: 327px;
  display: flex;
  flex-direction: column;
 justify-content: center;
}

.card-tonic {
 box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
padding: 16px;
gap: 12px;
width: 327px;
height: 552px;
background: #FFFFFF;

border-radius: 16px;

}


.card-detail {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.card-title {
  margin-top: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-bottom: 1%;
}

.card-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-bottom: 1%;
}

.card-message {
  width: 295px;
  height: 76px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.program-languages ul {
  width: 21px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: inline-flex;
  list-style: none;
  padding-left: 1px;
  padding-bottom: 35px;
}

.button {
  width: 120px;
  height: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: #396df2;
  background: white;
  border-radius: 5px;
  display: inline-block;
  color: #396df2;
}


.languages-list {
  right: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: block;
  align-items: center;
  color: #253858;
}

ul {
  list-style: none;
  padding-left: 1px;
  margin-top: 1px;
}

.languages-list li {
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 12px;
min-width: fit-content;;
height: 20px;
background: #EBEBFF;
border-radius: 8px;
display: inline-flex;

}

.button{
  width: 150px;
height: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
text-align: center;
letter-spacing: 0.03em;
color: #396DF2;
}




